{
  "dns": {
    "servers": [
        {
        "tag": "cloudflare",
        "type":"udp",
        "server": "{{ hconfigs['dns_server'] or "1.1.1.1" }}",
      
      }
    ],
    "final": "cloudflare",
    "strategy": "prefer_ipv4"
  }
}