{
	"inbounds": [
		{
			"listen": "127.0.0.1",
            "listen_port": 2001,
            "tag": "socks-in-auth",
			{% include '/opt/hiddify-manager/singbox/configs/common/protocols/socks.pj2' %},

		}
	]
}
