{
    "inbounds":[
        {% if  hconfigs['naive_enable'] %}
        
                {
                    "tag":"v10-naive",
                    "listen": "127.0.0.1",
                    "listen_port":4201,
                    "tcp_fast_open": true,
                    "sniff": true,
                    "network": "tcp",
                    "sniff_override_destination": true,
                    "domain_strategy": "prefer_ipv4",
                    "proxy_protocol":true,	
                    {% include '/opt/hiddify-manager/singbox/configs/common/protocols/naive.pj2' %},
                },
                {% for d in domains  %}
                    {%set domain=d['domain']%}
                    {%set port= d['internal_port_naive'] %}
                        {% if port %}
                        {
                            "tag":"v10-naive-quic{{port}}",
                            "listen": "0.0.0.0",
                            "listen_port":{{port}},
                            "sniff": true,
                            "network": "udp",
                            "sniff_override_destination": true,
                            "domain_strategy": "prefer_ipv4",
                            
                            {% include '/opt/hiddify-manager/singbox/configs/common/protocols/naive.pj2' %},
                            "tls": {
                                "enabled": true,
                                "server_name": "{{domain}}",
                                
                                {% if exec("[ -f /opt/hiddify-manager/ssl/"+domain[0:64]+".crt ]&& echo -n 'true' || echo -n 'false'")=='true' %}
                                    "certificate_path": "/opt/hiddify-manager/ssl/{{domain[0:64]}}.crt",
                                    "key_path": "/opt/hiddify-manager/ssl/{{domain[0:64]}}.crt.key",
                                {%else %}
                                    {%set cert=exec("ls /opt/hiddify-manager/ssl/*.crt | tail -1").strip()%}
                                    "certificate_path": "{{cert}}",
                                    "key_path": "{{cert}}.key",
                                {%endif%}
                            }
                        },
                        {%endif%}
                    
                {%endfor%}
        {%endif%}
    ]
}