{
  "outbounds": [
    {
      "tag": "freedom",
      "type": "direct"
    },
    {
      "tag": "direct",
      "type": "direct"
    },
    {
      "tag": "WARP",
      "type": "direct",
      "bind_interface": "warp"
    },
    // {
    //   "tag":"WARP",
    //   "type":"socks",
    //   "version": "5",
    //   "server":"127.0.0.1",
    //   "server_port":3000
    // },
    //hiddify!!!!_warp
    
    
    
  ]
}